{% extends 'base.html' %}

{% block content %} 
<main>
    <h1>Create View achieved</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</main>
{% endblock content %} 
