{% extends 'base.html' %} 

{% block content %} 
<main>
    <a href="{% url 'todo_list_edit_view' pk=todolist.id %}">Edit List</a>
    <a href="{% url 'todo_list_delete_view' pk=todolist.id %}">Delete list</a>
    <div>Edit goes here</div>
    <div>Delete goes here</div>
    <h2>{{ todolist.name }}</h2>
    <h4>Tasks:</h4>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for item in todolist.items.all %} 
            <tr>
                <td>{{ item.task }}</td>
                <td>{{ item.due_date }}</td>
                <td>
                    <a href="{% url 'todo_item_update_view' pk=item.id %}">Edit Item</a>
                </td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
</main>
{% endblock content %}