{% extends 'base.html' %}

{% block title %} 
<h2> Todo List Overview (Title)</h2>
{% endblock title %}

{% block content %} 
<main>
    <a href="{% url 'todo_list_create_view' %}">Create New List</a>
    <a href="{% url 'todo_item_create_view' %}">Create New Item</a>
    <ul>
        {% for list in todolist_list %} 
            <li>
                <a href="{% url 'todo_list_detail_view' pk=list.id %}">{{ list.name }}</a>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock content %}