{% extends 'base.html' %} 


{% block content %} 
<main>
    <h1>Detail Item Achieved</h1>
    <table>
        <tr>
            <td>{{ todo_item.task }}</td>
        </tr>
        <tr>
            <td>{{ todo_item.is_completed }}</td>
        </tr>
        <tr>
            <td>{{ todo_item.due_date }}</td>
        </tr>
        <tr>
            <td>-----> items <------</td>
        </tr>
    </table>
</main>
{% endblock content %}